/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* AJUSTES GENERALES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    overflow-y: overlay;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* TRACK */
::-webkit-scrollbar-track {
    background: #ffffff00;
}
  
  /* DESLIZADOR DEL SCROLLBAR */
::-webkit-scrollbar-thumb {
    background: #ffffff00;
    margin: 5px;
    border-radius: 5px;
    height: 100px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
  
  /* DESLIZADOR - HOVER*/
::-webkit-scrollbar-thumb:hover {
    background: #0078f8;
}


/*  ENCABEZADO */

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3vh;
    gap: 30px;
}

/* MAIN */

main {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 50px; 
    align-items: center;  
}

.breadcrumbs {
    width: 100%;
    padding: 20px;
}

/* CARTA DE PRODUCTO QUE SE ESTA VISUALIZANDO*/

.itemBox {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.itemImg {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    gap: 10px;
}

.itemImg > div:first-child {
    width: 100%;
    height: 70%;
    background-image: url(../img/gato1a.jpg);
    background-size: cover;
    background-position: center;
}

.itemImg > div:nth-child(2) {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemImg > div:nth-child(2) > div {
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
}

.itemImg > div:nth-child(2) > div:first-child {
    background-image: url(../img/gato1b.jpg);
}

.itemImg > div:nth-child(2) > div:nth-child(2) {
    background-image: url(../img/gato1c.jpg);
}

.itemImg > div:nth-child(2) > div:last-child {
    background-image: url(../img/gato1d.jpg);
}


.itemInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* SECCION INFERIOR - OTROS PRODUCTOS QUE SE PRESENTAN COMO SUGERENCIA */

.otherItems {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.otherItems::-webkit-scrollbar {
    display: none;
}

#dragMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.itemCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: grab;
}

.itemCard  div {
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 15px;
}


/* FOOTER */

footer {
    width: 100%;
    height: 5vh;
    padding: 20px;
    color: white;
    background-color: black;
}

/* RESPONSIVE */

/* VERSION ESCRITORIO MUY GRANDE*/

@media (min-width: 1400px) {}

/* VERSION ESCRITORIO GRANDE*/

@media (min-width: 1200px) {}

/* VERSION ESCRITORIO REDUCIDA */

@media (min-width: 992px) {}


/* VERSION TABLET*/

@media (min-width: 768px) {}

/* VERSION MOVIL*/

@media (min-width: 576px) {}