/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* AJUSTES GENERALES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    overflow-y: overlay;
    gap: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* TRACK */
::-webkit-scrollbar-track {
    background: #ffffff00;
}
  
  /* DESLIZADOR DEL SCROLLBAR */
::-webkit-scrollbar-thumb {
    background: #ffffff00;
    margin: 5px;
    border-radius: 5px;
    height: 100px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
  
  /* DESLIZADOR - HOVER*/
::-webkit-scrollbar-thumb:hover {
    background: #0078f8;
}


/*  ENCABEZADO */

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(99, 99, 99);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    color: white;
}

.logo img {
    height: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

/* MAIN */

main {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center;  
}

.breadcrumbs {
    width: 100%;
    padding: 20px;
}

/* CARTA DE PRODUCTO QUE SE ESTA VISUALIZANDO*/

.itemBox {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.itemImg {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    gap: 10px;
    border-radius: 25px;
}

.itemImg  div {
    opacity: 50%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.itemImg > div:first-child {
    width: 350px;
    height: 350px;
    background-image: url(../img/pokemonAmarillo.webp);
    background-size: cover;
    background-position: center;
}

.itemImg > div:nth-child(2) {
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemImg > div:nth-child(2) > div {
    width: 100px;
    height: 100%;
    background-size: cover;
    background-position: center;
    
}

.itemImg > div:nth-child(2) > div:first-child {
    background-image: url(../img/pika.jpg);
}

.itemImg > div:nth-child(2) > div:nth-child(2) {
    background-image: url(../img/pika2.jpg);
}

.itemImg:first-child > div:nth-child(2) > div:last-child {
    background-image: url(../img/pika3.jpg)
}

.itemImg  div:hover {
    opacity: 100%;
}


.itemInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemInfo p {
    font-size: 0.5rem;
}
/* SECCION INFERIOR - OTROS PRODUCTOS QUE SE PRESENTAN COMO SUGERENCIA */

.otherItems {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 100px 30px;
}

.otherItems::-webkit-scrollbar {
    display: none;
}

#dragMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.itemCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: grab;
}

.itemCard  div {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-size: cover;
    filter: drop-shadow(0px 11px 5px rgba(0, 0, 0, 0.5));
}

.itemCard:first-child div {
    background-image: url(../img/pokemonRojo.webp);
}

.itemCard:nth-child(2) div {
    background-image: url(../img/pokemonOro.webp);
}

.itemCard:nth-child(3) div {
    background-image: url(../img/pokemonPlata.webp);
}

.itemCard:nth-child(4) div {
    background-image: url(../img/pokemonCristal.webp);
}

.itemCard:nth-child(5) div {
    background-image: url(../img/pokemonPinball.jpg);
}

.itemCard:nth-child(6) div {
    background-image: url(../img/zeldaAw.jpg);
}

.itemCard:nth-child(7) div {
    background-image: url(../img/metroidZero.webp);
}

.itemCard:nth-child(8) div {
    background-image: url(../img/land2.webp);
}

/* FOOTER */

footer {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: black;
}

/* MODAL */

dialog::before{
    width: 100vw;
    height: 100vh;
    background-color: #000000ac;
    filter: blur(4px);
}

#modal{
    margin: auto;
    overflow: hidden;
    padding: 20px;
    border: 5px solid white;
    border-radius: 25px;
    background-color: black;
}

.modalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

dialog button {
    align-self: flex-end;
}

.imgBox {
    width: 600px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid #0078f8;
}

.imgs {
    width: 100%;
    height: 100%;
    background-image: url(../img/modal1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

#izquierda, #derecha {
    width: 15%;
    height: 100%;
    opacity: 0%;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#derecha {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.700) 100%);
}

#izquierda {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.700) 0%, rgba(255, 255, 255, 0) 100%);
}

#izquierda:hover, #derecha:hover {
    opacity: 100%;
}

#modal i {
    filter: invert(100%);
}



/* RESPONSIVE */

/* VERSION ESCRITORIO MUY GRANDE*/

@media (min-width: 1400px) {}

/* VERSION ESCRITORIO GRANDE*/

@media (min-width: 1200px) {}

/* VERSION ESCRITORIO REDUCIDA */

@media (min-width: 992px) {}


/* VERSION TABLET*/

@media (min-width: 768px) {}

/* VERSION MOVIL*/

@media (min-width: 576px) {}