* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {

	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.switch-content {
	position: relative;
}
 
.checkbox {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.label {
	height: 200px;
	background-color: brown;
	padding: 20px;
    border-radius: 100px;
	transition: all 0.5s ease-in;
}

.label img {
	height: 100%;
}

.ball {
	position: absolute;
	width: 160px;
	height:160px;
    top: 20px;
	border-radius: 100px;
    transition: all 0.5s ease;
}


.darkcheckbox {
	background-color: rgb(104, 27, 27);
}

.ballLight {
	left: 20px;
	background-color: brown;
}

.ballDark {
	left: 180px;
	background-color: rgb(104, 27, 27);
}