/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* CONFIGURACION GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

body {
    overflow: overlay;
    font-family: 'Press Start 2P';
    background-color: #FCFF4B;
}

/* ESTILO PARA LA BARRA DE SCROLL */

/* width */
::-webkit-scrollbar {
    width: 10px;
    transition: all 0.3s ease-in;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1e1e24c3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1e1e24;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FCFF4B;
  }

/* CENTRADO DE LA PAGINA */

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ESTILO PARA EL HEADER */

header {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    position: fixed;
    background-color: #1e1e24;
    padding: 20px;
}

header i {
    filter: invert(100%);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.logo h1 {
    color: white;
    font-weight: 100;
    font-family: 'Press Start 2P';
    font-size: x-large;
}

.logo img {
    height: 48px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    font-size: 0.5rem;
    color: #FCFF4B;
}

.Link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* ESTILO PARA EL MAIN. SU FUNCION ES DELIMITAR EL AREA QUE VAN A OCUPAR LAS SECCIONES Y MANTENER SU CONTENIDO CENTRADO DENTRO DE SI MISMO */

main {
    width:85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

/* ESTILO GENERAL PARA LAS SECCIONES */


section {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: #1E1E24;
}

.sectionBox {
    display: flex;
} 

article {
    display: flex;
}

.animationRetro {
    width: 80px;
    border-radius: 5px;
}

/* ESTILO PARA EL CONTENEDOR CON EFECTO PARALLAX */

.parallax-window {
    background-image: linear-gradient(180deg, #ffe435, #FCFF4B);
    position: absolute;
    top: 0;
    right: 0;
    width: 85vw;
    height: 100vh;
    z-index: -1;
    align-self: flex-end;
    overflow: hidden;
}

.layer {
    height: 32px;
    position: absolute;
}

.p1 {
    top: 300px;
    left: 30px;
}

.p2 {
    top: 30px;
    left: 300px;
}

.p3 {
    top: 600px;
    left: 60px;
}

.p4 {
    top: 60px;
    left: 600px;
}

.p5 {
    top: 50px;
    left: 900px;
}

.p6 {
    top: 500px;
    left: 900px;
}

.p7 {
    top: 400px;
    left: 800px;
}

.p8 {
    top: 650px;
    left: 900px;
}

/* CONFIGURACION GENERAL DE LA CLASE CARD */

.card {
    display: flex;
    background-image: linear-gradient(0deg,#1e1e24,#1e1e24c3);
    width: 300px;
    height: 400px;
    font-size: 0.5rem;
    line-height: 1.5;
    border-radius: 25px;
    color: #FCFF4B;
}

.linkButton {
    padding: 10px;
    background-color: #fcff4b00;
    color: #FCFF4B;
    border: 1px solid #FCFF4B;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.linkButton:hover {
    padding: 10px;
    background-color: #FCFF4B;
    color: #1E1E24;
}

/* ESTILO DE CADA SECCION */


.cover {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover .card {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.cover .card h1 {
    font-family: 'Press Start 2P';
    color: #FCFF4B;
    font-size: 1rem;
}

.portrait {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-image: url(../assets/miniyo.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.social img {
    width: 30px;
    filter: invert(100%);
}

.cover .card p {
    color: #FCFF4B;
    text-align: center;
}

.about {
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.about .sectionBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.about .card{
    width: 600px;
    background: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #1E1E24;
}

.aboutInfo {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 25px;
    gap: 30px;
}

.aboutInfo > .info {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.level {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.level > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about label {
    font-weight: bold;
}

progress {
    appearance: none;
    width: 200px;
    height: 20px;
}

::-webkit-progress-bar {
    background-color: #1E1E24;
    border-radius: 25px;
    overflow: hidden;
}

::-webkit-progress-value {
    background-color: #FCFF4B;
}

.stats {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #1E1E24;
    border-radius: 15px;
    color:#FCFF4B;
    gap: 30px;
}

.stats div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.stats div p:first-child {
    font-size: 2rem;
    font-weight: bold;
}

.stats div p:last-child {
    font-size: 0.8rem;
}

.services {
    justify-content: center;
    align-items: center;
}

.services .sectionBox {
    flex-direction: column;
    gap: 50px;
}

.serviceCardBox {
    display: flex;
    gap: 40px;
}

.services .card {
    color: white;
    padding: 20px;
    font-size: 0.5rem;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.experience .sectionBox {
    gap: 30px;
    flex-direction: column;

}

.experienceBox {
    display: flex;
    gap: 30px;
}

.experienceBox > div {
    width: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
}

.acStep {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    width: 200px;
}

.acStep i{
    align-self: flex-start;
}

.date{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    border-left: 1px solid #1E1E24;
    margin-right: -10px;
    text-align: end;
}

.date > p{
    font-size: 0.5rem;
}



.works .sectionBox {
    flex-direction: column;
    gap: 30px;
}

.menuWorks {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.worksPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 650px;
    height: 450px;
}

.worksPanel div {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-position: center;
    background-size: contain;
}

.plans .sectionBox {
    flex-direction: column;
    gap: 30px;
}

.plans .sectionBox > div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.plans .card {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(0deg,#1e1e24,#1e1e24c3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 0.5rem;
    line-height: 1.5;
    text-align: center;
}


.plans .card a {
    color: white;
}

.reviews .sectionBox {
    flex-direction: column;
    gap: 20px;
}

.reviewBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.review {
    padding: 20px;
    background-color: white;
    border-radius: 25px;
}

#work1 {
    background-image: url(../assets/HANNYAMASK.jpg);
}

#work2 {
    background-image: url(../assets/KITSUNEMASK.jpg);
}

#work3 {
    background-image: url(../assets/UNDEAD\ KABUTO.jpg)
}

#work4 {
    background-image: url(../assets/HITODAMA.jpg);
}

#work5 {
    background-image: url(../assets/Zagu.gif);
}

#work6 {
    background-image: url(../assets/SlimeEdicionDaf.gif);
}



