/* Eliminación del desbordamiento 
para evitar la aparición de una barra de 
scroll horizontal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se establece una imagen de fondo para el body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: black;
}

/* Header invisible con el logotipo 
y el icono de menu hamburguesa*/

header{
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5px;
}

/* Estilo para el logo y el icono de menú */

.logo {
    filter: invert(100%);
    height: 70%;
}

.menu {
    filter: invert(100%);
    height: 90%;
}

/* Estilo para el nav */

nav{
    width: 100%;
    height: 10%;
}

/* Estilo y disposición flex para el main */

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.portada {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Estilo para el texto de eslogan)
(color, tamaño y alineación) */

.eslogan {
    color: white;
    font-family: "Bebas Neue";
    line-height: 6em;
    margin-left: 10%;
    margin-top: 10%;
}

.fraseA {
    font-size: 5em;
    text-align: end;
    width: 27%;
}

.fraseB {
    font-size: 8em;
}

.fraseC {
    font-size: 5em;
}

/* Estilo para el section con la biografia */

.bio {
    height: 25%;
    color: white;
    font-size: 3em;
    font-family: "Rubik";
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10%;
}

.bio > div {
    width: 50%;
    height: 100%;
    background-color: #ffffffa1;
    border-radius: 2em;
}

.bio > div > p {
    font-size: 2rem;
    font-family: "rubik";
    font-weight: normal;
    padding: 5%;

}

.infografía {
    background-color: black;
}

/* Estilo para el encabezado de la infografía */

.titulo {
    width: 100%;
    color: white;
    font-family: "Bebas Neue";
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    margin-left: 10%;
}

.numero {
    font-size: 13.5em;
}

.enunciadoinfografía {
    font-size: 5em;
    padding-left: 2%;
}

/* Estilo para las cajas e imagenes que conforman la infografía */

.infografia > article {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.visibilidad {
    background-color: #a2d386;
}

.feedback {
    background-color: #FFD147;
}

.limitaciones {
    background-color: #FF715B;
}

.consistencia {
    background-color: #48ACF0;
}

.affordance {
    background-color: #484D6D;
}

.infografia  article {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.infografia  img {
    width: 10%;
    margin-left: 2%;
}

.infografia  img:hover {
    filter: brightness(1.2);
}



.info{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5%;
}

.enunciado {
    font-family: "Bebas Neue";
    font-size: 5em;
}

.textoinfo {
    width: 60%;
    font-family: "Rubik";
    font-size: 2em;
}

/* Estilo para el footer */

footer {
    width: 100vw;
    height: 50vh;
    background-color: black;
    color: white;
    font-size: 2.5em;
    font-family: 'Rubik';
    display: flex;
    flex-direction: row;
}

footer > img {
    height: 90%;
    margin-left: 2%;
}

footer > img:hover {
    filter: brightness(1.2);
}

.enviarEmail > p {
    width: 40%;
    padding: 2%;
}

.inputCorreo {
    width: 60%;
    height: 10%;
    margin-left: 2%;
    padding-left: 2%;
}

.submit {
    width: 10%;
    height: 10%;
    margin-left: 1%;
}

/* Estilo para ilustración que se desliza a lo largo de la parte derecha de la pantalla */

.ilustracion {
    position: fixed;
    width: 15%;
    bottom: 15%;
    right: 0px;
}


.ilustracion:hover {
    filter: opacity(50%);
}