@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* CONFIGURACIÓN BÁSICA */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

body {
    font-family: work sans;
    background-color: #f7f5ef;
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.518);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TAGS */


.tags {
    display: flex;
}

.tags a {
    text-decoration: none;
}

.cardImage {
    background-position: center;
    transition: all 0.5s ease-in-out;
}

/* ESTILO PARA EL ENCABEZADO */

header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#abrirMenu, #burguer {
    display: none;
} 


header > img {
    height: 40px;
}

.navBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    color: grey;
    transition: all 1s ease-in;
}

nav  ul > li {
    padding: 5px 10px;
    transition: all 0.5s ease-in;
    border-radius: 5px;
}

nav ul > li:first-child {
    border: 1px solid #B92326;
    color:#B92326;
}

nav ul > li:not(nav ul > li:last-child):hover {
    background-color: #B92326;
    color: white;
}

nav ul > li:last-child {
    border: 1px solid lightgrey;
    color: lightgrey;
    display: flex;
    gap: 30px;
}

nav ul > li:last-child > a {
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

nav ul > li:last-child > a:first-child {
    background-color: lightgrey;
    color: white;
}

nav ul > li:last-child > a:hover {
    background-color: lightgrey;
    color: white;
}

nav a {
    text-decoration: none;
}


#lupa {
    width: 30px;
    height: 30px;
}
/* CONTENIDO */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
    gap: 40px;
}

.info > div {
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px 0px;
}

.titulo h1 {
	font-size: clamp(5rem, 8vw, 2rem);
    font-weight: 600;
	text-align: center;
    color: #B92326;
    max-width: 910px;
}

.titulo p {
    padding: 0px 20%;
    text-align: center;
    font-size: clamp(1.2rem, 1.2rem, 1vw);
    font-weight: 400;
    line-height: 1.5;
    color: grey;
}

.titulo  a {
    background-color: #BF393B;
    color: white;
    border-radius: 5px;
    padding: 20px 40px;
    transition: all 0.5s ease-in;
}


/* PLANTILLAS */
.plantillas {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cardImageBox {
    width: 350px;
    height: 80%;
    overflow: hidden;
    border-radius: 5px;
}

.plantillas .cardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cardInfo {
    font-weight: 100;
    color: gray;
    width: 100%;
}



/* .cardImage:hover {

} */


.card:first-child  .cardImage {
    background-image: url(../src/trouvelot-tema-wordpress.webp);
}

.card:nth-child(2)  .cardImage {
    background-image: url(../src/rosalie-plantilla-wordpress-lifestyle.webp);
}

.card:nth-child(3) .cardImage {
    background-image: url(../src/janice-plantilla-wordpress-para-bloggers-fashion.webp);
}



/* SECCION DE NOTICIAS */

.news {
    background-color: white;
    width: 100%;
    padding: 100px 60px;
    gap: 100px; 
}

.news > h1 {
    width: 100%;
    color: rgb(30, 30, 30);
}

.news > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.newsCard {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#importante {
    width: 700px;
}

.newsCardImageBox {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

#importante  .newsCardImageBox {
    height: 400px;
}

.news .cardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.news .cardImage:hover {
    transform: scale(1.2);
}

#importante .cardImage {
    background-image: url(../src/wordpress-lista-contenidos-cpt.webp) ;
}

.news > div:nth-child(2) .newsCard:nth-child(2) .cardImage {
    background-image: url(../src/silomag-138.webp);
}

.news > div:nth-child(3) .newsCard:first-child .cardImage {
    background-image: url(../src/wordpress-patrones-editables.webp);
}

.news > div:nth-child(3) .newsCard:nth-child(2) .cardImage {
    background-image: url(../src/colores-pantone.webp);
}

.news > div:nth-child(3) .newsCard:nth-child(3) .cardImage {
    background-image: url(../src/calendario-niviembre-huckleberry-finn-2022-silocreativo.webp);
}

.newsContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsContent h2 {
    font-size: 1.5rem;
    color: grey;
}

.newsContent p {
    text-align: justify;
    line-height: 1.5;
}

.news .tags {
    flex-direction: row;
    gap: 10px;
}

.news .tags a {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
} 

.news .dgraf:hover {
    background-color: #FFBA49;
}

.news .dweb:hover {
    background-color: #20A39E;
}

.news .wpress:hover {
    background-color: #26408B;
}

/* FOOTER */

footer {
    background-color: #BF393B;
    width: 100%;
    display: flex;
    /* flex: 1 1 30%; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    padding: 80px 100px 20px 100px;
}

.about {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.tagline {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.social {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.social img {
    height: 20px;
    filter: invert(100%);
    opacity: 0.5;
    transition: all 0.5s ease;
}

.social img:hover {
    opacity: 1;
}

.sitemap {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* VENTANA MODAL */

.modal {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.5s ease-in;
    top: 0;
    left: 0;
    opacity: 0%;
}

.buscar {
    width: 100%;
    height : 40vh;
    background-color: #B92326;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease;
    position: absolute;
    top: -1000px;
    left: 0;
}

.buscar > input {
    width: 90%;
    border-bottom: 1px solid black;
    font-size: 3em;
    color: white;
}


.buscar > button {
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
    font-weight: 900;
}

.tagPanel {
    width: 100%;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40vh;
    left: 0;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
    #abrirMenu, #burguer {
        display: flex;
    }

    .header > img {
        height: 20px;
    }
    
    .navMenu {
        position: absolute;
        width: 100vw;
        height: 50vh;
        top: 15vh;
        left: 0;
        background-color: #f7f5ef;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        display: none;
    }

    .navMenu .ocultar {
        clip-path: inset(0 0 100% 0);
        filter: opacity(0%);
    }

    .navMenu .mostrar {
        clip-path: inset(0 0 0 0);
        filter: opacity(0%);
    }
    

    .navMenu > ul {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }
}

@media (max-width: 1100px){
    .plantillas {
        max-width: 80vw;
        flex-direction: column;
        gap: 30px;
    }

    .card {
        width: 100%;
        align-items: center;
    }

    .cardInfo {
        text-align: center;
    }

    #importante {
        width: 350px;
    }

    #importante  .newsCardImageBox {
        height: 200px;
    }

}



.mostrar {
    display: flex;
}

.ocultar {
    display: none;
}
